{% load static %}
<html lang="en">
<head>
  <title>TableView - Startup</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
  {% for key, value in data.items %}
  <div>
    <h2 class="text-center"><u>{{ value.title }}</u></h2><br>
    <table>
      <tr>
        {% for col in value.df.columns %}
          <td>
            <p>{{col}}</p>
          </td>
        {% endfor %}
      </tr>
      {% for index, row in value.df.iterrows %}
        <tr>
          {% for cell in row %}
            <td>
              <p>{{cell}}</p>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endfor %}
</div>

</body>
</html>