{% extends "blog/baselk.html" %}
{% load static %}
{% load bootstrap5 %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
        <h1 align="center">Информационная система мониторинга дошкольных образовательных организаций Воронежской области</h1>
        <br><br>
        <h5> Данная информационная система разработана в рамках Выпусконой Квалификационной Работы (ВКР), в связи с чем, на
            текущий момент, все данные, предоставляемые системой не являются актуальными и носят исключительно
            демонстрационный характер.</h5>
        <br>
        <h5> Ключевой информацией, обрабатываемоей данной системой являются данные, подаваемые по форме <mark> N 85-K</mark>
            дошкольными образовательными организациями.</h5>
        <br>
        <h5><a href="https://www.consultant.ru/document/cons_doc_LAW_52009/907db3fc47e430101cdad9883e5fcba7746e37f4/"
               target="_blank">Ссылка на форму N 85-K</a></h5>
        <br>
        <h5>Разработчик данной системы: <em>Макеев А.И.</em></h5>
        <h5>Научный руководитель: <em>Дубов В.М.</em></h5>
        <h5>Идейный вдохновитель: <em>Чудинский Р.М.</em></h5>
    </div>
</article>
{% endblock content %}